@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,300&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --svg-color: black;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #000305;
  font-family: "Poppins", sans-serif;
  color: white;
}
header {
  background: #000305;
  padding: 5em;
  /* padding-bottom: 15em; */
  color: white;
}
a {
  color: white;
}
.main-con {
  width: 100%;
}
.header-wrapper {
  width: 70%;
  margin: auto;
}
.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-text-con {
  position: relative;
  /* top: 10em; */
  margin-right: 2em;
}
.name-headers {
  flex: 1;
}
.name-headers h1 {
  font-size: 5em;
  /* width: 40%; */
  /* font-family: "Bebas Neue"; */
  /* transform:  translateY(115px); */
  /* transition: transform 0.5s; */
  /* clip-path: polygon(0 44%, 100% 43%, 100% 99%, 0% 100%); */
}
.name-headers h2 {
  color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px white;
  font-size: 2.5em;
}
.about-story p {
  font-size: 1.5em;
}
.contact-info {
  margin-top: 10em;
  font-size: 1.5em;
  line-height: 2em;
}
.contact-info.for-mobile {
  display: none;
}
.contact-info h2 {
  font-size: 2.5em;
}
.contact-info .social-icons {
  margin-top: 1em;
}
.contact-info .social-icons a {
  display: flex;
  margin-bottom: 0.5em;
  color: white;
}
.contact-info .social-icons a:hover {
  color: rgba(250, 240, 240, 0.616);
}
.contact-info .social-icons a svg {
  margin-top: -0.3em;
}
.contact-info .social-icons a svg:hover {
  margin-top: -0.3em;
}
img.classydev-pic {
  max-width: 70%;
  width: 650px;
  border-radius: 92% 91% 10% 97% / 96% 100% 0% 0%;
  flex: 1;
  height: auto;
  /* margin-top: -35em; */
  position: relative;
  top: 0;
}
.edu-work-con {
  width: 80%;
  margin: auto;
  font-size: 1.5em;
  line-height: 2em;
  display: flex;
  flex-direction: column;
}
.edu-work-con h2 {
  font-size: 3.5em;
  line-height: 1em;
}
section#work {
  width: 70%;
  margin-left: auto;
}
.each-work h4 {
  color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px white;
}
.each-work a {
  color: white;
  transition: all 0.7s ease-in-out;
  display: flex;
  align-items: center;
}
a:hover {
  color: rgba(250, 240, 240, 0.616);
}
img.company-logo {
  border-radius: 50%;
  max-width: 50px;
  margin-right: 10px;
}
.zuri-style {
  background: white;
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  text-align: center;
  margin-right: 10px;
}
img.company-logo-zuri {
  /* border-radius: 50%; */
  max-width: 50px;
  margin-right: 10px;
  /* object-position: top; */
  object-fit: cover;
}
.each-work .date-work {
  color: white;
  font-size: 2em;
  margin: 1em; 
  margin-left: 0;
}
.faded-text {
  color: rgba(250, 240, 240, 0.2);
}

section#education {
  margin-top: 3em;
  width: 70%;
  margin-right: auto;
}
.date-edu {
  color: white;
  font-size: 1.7em;
  margin: 0.5em;
}
.school {
  color: white;
  font-size: 1.4em;
  margin: 0.3em;
  margin-left: 0;
  margin-bottom: 0;
}
.certificate {
  color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px white;
  font-size: 1em;
}
#skills {
  padding: 3em 0;
  width: 80%;
  margin: auto;
}
.skill{
    display: flex;
    align-items: center;
}
.lang-img{
    width: 50px;
    height: 50px;
    margin: 0.5em;
}
.header-text {
  font-size: 3.5em;
}
.skill-con {
  display: grid;
  /* grid-auto-columns: 500px; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 20px;
}
.skill {
  margin: 2em;
  margin-bottom: 0;
  font-size: 1.7em;
  color: rgba(0, 0, 0, 0.3);
  -webkit-text-stroke: 1px white;
}
.project-con {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 2rem;
  color: #000;
  margin-top: 6rem;
}
.each-project {
  position: relative;
  padding: 2rem;
  height: 35rem;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease;
}
.each-project h3.project-name {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.each-project:nth-child(odd) {
  background: linear-gradient(30deg, #f3cbab, #feedca);
}
.each-project:nth-child(even) {
  background: linear-gradient(rgb(177, 229, 249), rgb(244, 210, 254));
}
.each-project:nth-child(3n + 0) {
  background: linear-gradient(rgb(219, 180, 243), rgb(239, 183, 215));
}
/* .each-project:nth-child(4n+1) {
    background: linear-gradient(180deg,rgb(243, 203, 171), rgb(254, 237, 202));
} */
.each-project:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  background: none;
  background-color: #000;
}
.each-project:hover::after {
  outline: 2px solid rgba(255, 255, 255, 0.6);
  transition: all 0.2s ease-in;
}
.each-project::after {
  content: "";
  position: absolute;
  width: 103%;
  height: 101%;
  top: 1rem;
  right: 0;
  z-index: -1;
}
.project-link-con {
  text-align: end;
}
.project-link-con a {
  text-decoration: none;
  margin: 0.5em;
}
.project-link-con a svg.hovered {
  fill: white;
}
.each-project .tech-names{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.each-project .tech-names span{
  margin: 5px;
}
@media (max-width: 1200px) {
  .project-con {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}

@media (max-width: 900px) {
  header {
    background: #000305;
    padding: 7em;
    color: white;
  }
  img.classydev-pic {
    max-width: 90%;
    width: 1500px;
  }
  .name-headers h1 {
    font-size: 4em;
    width: 50%;
  }
  .name-headers h2 {
    font-size: 1.5em;
  }
  .about-story p {
    font-size: 1.2em;
  }
  .contact-info h2 {
    font-size: 1.5em;
  }
  .edu-work-con h2 {
    font-size: 2.5em;
  }
  .edu-work-con {
    font-size: 1.5em;
  }
  .each-work .date-work {
    font-size: 1.5em;
  }
  .date-edu {
    font-size: 1.5em;
  }
  section#education p {
    font-size: 1em;
  }
  .school {
    color: white;
    font-size: 1.2em;
    margin: 0.3em;
    margin-left: 0;
    margin-bottom: 0;
  }
  .header-text {
    font-size: 2.5em;
  }
  .skill {
    margin: 1em;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 1px white;
  }
}
@media (max-width: 850px) {
  header {
    background: #000305;
    padding: 5em;
    color: white;
  }
  .about-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img.classydev-pic {
    max-width: 80%;
    width: 900px;
  }
  .project-con {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  }
  .each-project{
    max-height: 300px;
  }
}
@media (max-width: 768px) {
  header {
    background: #000305;
    padding: 3em 0;
    color: white;
  }
  .header-wrapper {
    width: 90%;
    margin: auto;
  }
  img.classydev-pic {
    margin-top: 1em;
    max-width: 90%;
    width: 500px;
    text-align: center;
  }
  .about-text {
    display: flex;
    flex-direction: column;
  }
  .contact-info {
    display: none;
    margin-top: 3em;
  }
  .contact-info.for-mobile {
    display: block;
    width: 90%;
    margin-right: 2em;
  }
  .edu-work-con {
    margin-top: 2em;
  }
  section#work {
    width: 100%;
    margin: 0 auto;
  }
  .each-work .date-work {
    color: white;
    font-size: 1.1em;
    margin: 1em;
  }
  .each-work p {
    font-size: 0.8em;
  }
  section#education {
    padding-top: 3em;
    width: 100%;
    margin: auto;
  }
  .date-edu {
    font-size: 1.2em;
    margin: 0.5em;
  }
  section#education .details {
    font-size: 0.8em;
  }
  .school {
    font-size: 1em;
  }
  section#education .certificate {
    font-size: 0.8em;
    margin-left: 0.8em;
    margin-bottom: 0.8em;
  }
  #skills {
    width: 80%;
    margin: auto;
  }
  .skill {
    font-size: 1.2em;
  }
}
@media (max-width: 490px) {
  #skills {
    width: 90%;
    margin: auto;
  }
  .name-headers h1 {
    font-size: 3em;
    width: 50%;
  }
  .contact-info h2 {
    font-size: 1.3em;
  }
  .edu-work-con{
    width: 90%;
  }
  .edu-work-con h2 {
    font-size: 2em;
  }
  .lang-img{
    width: 30px;
    height: 30px;
}
  .skill-con {
    display: flex;
    flex-wrap: wrap;
  }
}
